# --- TempestSDR installer ---
# dossiers clonés / générés
TempestSDR/
HackRF_Transfer-GUI/

# exécutables, archives, images
*.exe
*.zip
*.iso

# caches & logs
__pycache__/
*.log

# éditeur / IDE
.vscode/
